/*
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
body{background-color: #fff;
color: #000;
font-family: 'Roboto', serif;
font-size: 14px;
line-height: 1.4;
-webkit-font-smoothing: antialiased;}
h1, h2, h3, h4, h5, h6 {
font-family: 'Lato', serif;
/*font-weight: 400;*/
line-height: 1.2;
margin: 0;
padding: 0;
}
::-webkit-scrollbar {
width: 8px;
height:8px;
}
/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey;
}
/* Handle */
::-webkit-scrollbar-thumb {
background: #1384fb;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #1384fb;
}
.main-body{
background: #1384fb;
border-radius: 4px;
height: 237px;
position: relative;
-webkit-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.57);
-moz-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.57);
box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.57);
}
.content{
background: #fff;
position: absolute;
height: 86%;
width: 95%;
left: 2.5%;
top: 2.5%;
overflow-y: auto;
}
#content{
overflow: auto;
white-space: nowrap;
}
.footer-links{
position: absolute;
bottom: 2%;
text-align: center;
width: 100%;
}
.footer-links a{
color:#fff;
text-decoration: none;
}
.tabs {
display: table;
table-layout: fixed;
width: 100%;
-webkit-transform: translateY(5px);
transform: translateY(5px);
margin: 0;
padding: 0;
}
.tabs > li {
transition-duration: .25s;
display: table-cell;
list-style: none;
text-align: center;
padding: 5px 5px 5px 5px;
position: relative;
overflow: hidden;
cursor: pointer;
color: white;
}
.tabs > li.active {
color: #50555a;
}
.tabs > li:before {
z-index: -1;
position: absolute;
content: "";
width: 100%;
height: 120%;
top: 0;
left: 0;
background-color: rgba(255, 255, 255, 0.3);
-webkit-transform: translateY(100%);
transform: translateY(100%);
transition-duration: .25s;
border-radius: 5px 5px 0 0;
}
.tabs > li.active:before {
transition-duration: .5s;
background-color: white;
-webkit-transform: translateY(0);
transform: translateY(0);
}
.active-layer{
background: #1384fb;
height: 3px;
display: block;
}
/*.seperate-v {
margin-bottom: 6px;
}*/
.w3-white, .w3-hover-white:hover {
color: #000!important;
background-color: #fff!important;
display: inline-block;
}
/*.home-sc-body {
padding: 10px;
}*/
.series-head {
text-transform: uppercase;
background: #eee;
padding: 4px 8px;
font-size: 14px;
}
.home-sc-body a {
text-decoration: none;
margin-right: 10px;
margin: 10px;
border: 1px solid #ddd;
border-radius: 5px;
}
.link-series {
padding: 8px 14px;
display: block;
}
.home-sc-body a h4 {
font-size: 15px;
margin-top: 6px;
}
.vs-team {
font-weight: 400;
color: #444;
display: block;
width: 100%;
float: left;
margin-bottom: 5px;
}
.vs-team:hover{
text-decoration: underline;
}
.vs-team .team-vs {
font-weight: 400;
}
.team-name{
width:52px;
}
.team-score{
font-weight:700 !important;
}
.team-vs{
float: left;
position: relative;
}
.vs_{
width: 16.66666667%;
text-align: center;
float: left;
position: relative;
}
.w3-dark {
color: #fff!important;
background: #222!important;
}
.w3-dark:hover{
background: #666!important;
}
.w3-red {
color: #fff!important;
background-color: #f44336!important;
}
.w3-red:hover {
color: #fff!important;
background-color: red!important;
}
.w3-tiny {
font-size: 10px!important;
}
.w3-round, .w3-round-medium {
border-radius: 4px;
}
.sc-time {
margin-top: 54px !important;
font-size: 14px;
color: #1384fb;
}
.status-bar {
margin-top: 4px;
}
.series_{
color: #666;
font-size: 12px;
}
.w3-btn, .w3-button {
border: none;
display: inline-block;
outline: 0;
padding: 3px 10px;
vertical-align: middle;
overflow: hidden;
text-decoration: none;
color: inherit;
background-color: inherit;
text-align: center;
cursor: pointer;
white-space: nowrap;
}
.w3-btn, .w3-button {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.w3-black, .w3-hover-black:hover {
color: #fff!important;
background-color: #1384fb!important;
}
.w3-round, .w3-round-medium {
border-radius: 4px;
}
.df-btn a{
text-decoration: none;
color:#fff;
display: block;
height: 25px;
}
.df-btn.active a{
color:#222;
}
.result-sc{
margin-top: 48px;
}